html, body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	overflow-x: hidden;
	background-color: #FFFFFF;
}
html {
   	position: relative;
	min-height: 100%;
}
.home-body {
    height: 3618px;
}
img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
::selection {
	background-color: rgba(0, 228, 173, 0.3);
}
a,button {
  outline: none;
}
/* ----- Nav Bar ----- */
.nav-bar {
	position: absolute;
	background-color: white;
	top: 0;
   	width: 100%;
   	height: 102px;
	z-index: 10;
	overflow: hidden;
}
.home-nav-bar {
	background-color: transparent;
}
.logo-div {
	margin: 1.85% 6.5%;
	height: 100%;
	width: 10%;
	float: left;
	display: inline-flex;
}
.logo {
	margin-top: -30%;
	height: 131px;
	width: auto;
	cursor: pointer;
}
.btn-group {
	margin: 1.75% 6.88%;
	float: right;
	display: flex;
	overflow: none;
	align-items: center;
}
button:focus {outline:0;}
.btn-group button {
	margin: 0 0;	
	height: 0.68%;
	width: auto;
	color: #00E4AD;	
	font-family: "Roboto Condensed";	
	font-size: 20px;	
	line-height: 26px;
	border: none;
	background-color: transparent;
	padding: 10px 20px;
	float: left;
	cursor: pointer;
}
.nav-btns:hover {
	opacity: 0.4;
}
.home-btns button {
	color: white;	
}
.home-btns button:hover {
	opacity: 0.7;
}
#partner-btn {
	margin: 0 20px;
	height: 1.15%;	
	width: auto;	
	border: 2px solid #00E4AD;	
	border-radius: 5px;
	-webkit-transition: background-color 0.15s, color 0.15s; /* Safari */
	transition: background-color 0.15s, color 0.15s;
}
#partner-btn:hover {
	background-color: #00E4AD;
	color: white;
	opacity: 1;
}
.home-btns #partner-btn {
	border: 2px solid white;	
}
.home-btns #partner-btn:hover {
	background-color: white;
	color: #00E4AD;
	opacity: 1;
}
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

/* ---- Gradient ---- */
.gradient-right {
	position: absolute;
	border-bottom-left-radius:0%;
    border-bottom-right-radius:20%;
    transform: skewY(-15deg);
    background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.04));	
}
.half-gradient {
	top: 40%;
	float: left;
	height: 404px;
	width: 55%;
	z-index: 0;
}
.full-gradient {
	height: 404px;
	width: 100%;
	border-bottom-right-radius:0%;
    transform: skewY(-8deg);
    background: linear-gradient(170deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.04));
}
.reverse-gradient {
	height: 804px;
	width: 100%;
	border-bottom-right-radius:0%;
    transform: skewY(-8deg);
    background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.04));
}
.home-full-gradient {
	top: 42%;
}
.gradient-green-box {
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	height: 428px;
	width: 45%;
	background: linear-gradient(55deg, #00E4AD, #99E354);
}
.home-circles {
	position: absolute;
	float: right;
	top: 40%;
	right: -18%;
	width: 39%;
	height: 9%;
}
.circles img {
	width: 100%;
	height: auto;
}

/* ----- Top Portion (Home) -----*/
.home-head-text {
	position: absolute;
	margin: 15% 0 0 6.8%;
	height: 4%;
	width: 40%;
	z-index: 5;
}
.head-text {
	font-family: "Roboto Condensed";
	color: #4A4A4A;	
}
.head-text h2 {
	font-size: 50px;	
	font-weight: bold;	
	line-height: 66px;
}
.head-text h2 span {
	color: #00E4AD;
}
.head-text p {
	font-size: 24px;
	line-height: 32px;
}


.device-icons {
	position: absolute;
	width: 53%;
	height: auto;
	margin: 10% 1.4% 0 44%;
	overflow: hidden;
}
.device-icons #mac {
	position: relative;
	width: 98%;
	height: auto;
	z-index: 1;
}
.device-icons #iphone {
	position: absolute;
	bottom: -7%;
	left: 25%;
	width: 22%;
	height: auto;
	z-index: 3;
}
.device-icons #ipad {
	position: absolute;
	bottom: -2%;
	left: 45%;
	width: 54%;
	height: auto;
	z-index: 2;
}

/* ---- Body ---- */
.home-body-text {
	margin-top: 0;
	margin-bottom: 13%;
	width: 100%;
	height: 11%;
	display: block;
}
.body-text {
	font-family: "Roboto Condensed";
}
.body-text h2 {
	margin-bottom: 0;
	color: #00E4AD;	
	font-size: 40px;	
	font-weight: bold;	
	line-height: 53px;
}
.body-text p {
	width: 85%;
	color: #4A4A4A;	
	font-size: 18px;	
	line-height: 24px;
}
.body-text button {
	width: 30%;
	padding: 3.5% 2%;
	margin-top: 2%;

	color: #FFFFFF;
	font-size: 20px;
	font-family: "Roboto Condensed";
	font-weight: bold;
	line-height: 26px;
	text-align: center;

	border-style: none;
	border-radius: 5px;
	background-color: #00E4AD;
	box-shadow: 0 2px 13px 1px rgba(0,0,0,0.12);
	cursor: pointer;

	-webkit-transition: all 0.15s; /* Safari */
	transition: all 0.15s;

	position: relative;
	z-index: 5;
}
.body-text button:hover {
	margin-left: 1.7%;
}
.body-text img {
	width: 100%;
	height: auto;
}
.right-1 {
	margin-right: -10%;
	width: 60%;
	float: right;
}
.left-1 {
	padding-top: 2%;
	width: 40%;
	margin-left: 6.87%;
}
.right-2 {
	width: 40%;
	float: right;
	position: relative;
	z-index: 5;
}
.left-2 {
	width: 55%;
	z-index: 0;
}
/* ---- Map ----*/
.map {
	position: relative;
	margin: 0 auto;
	height: 20%;
	width: 98%;
}
.map img {
	width: 100%;
	height: auto;
}
.map-text {
	position: absolute;
	margin-top: 7%;
	left: 20%;
	width: 60%;
	text-align: center;
}
.map-text p {
	margin: 2% auto;
	width: 40%;
}
.map-text input {
	border: 2px solid #D4D4D4;
}
.map-text #email {
	width: 35%;
}
.map-text #city {
	width: 15%;
}
.map-text #submit {
	display: block;
	margin: 3% auto;
	height: 66px;	
	width: 162px;
	border-radius: 5px;
	border: none;
	color: white;
	background-color: #00E4AD;
	box-shadow: 0 2px 13px 1px rgba(0,0,0,0.12);
	cursor: pointer;

	-webkit-transition: all 0.15s; /* Safari */
	transition: all 0.15s;
}
.map-text #submit:hover {
	margin-top: 2.3%;
	box-shadow: 0 5px 15px 3px rgba(0,0,0,0.12);
}
/* ---- Footer ---- */
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 250px;
	width: 100%;
	background-color: #4A4A4A;
	color: #FFFFFF;
	font-family: "Roboto Condensed";
	font-size: 16px;
	line-height: 21px;
	z-index: 1;
	overflow: hidden;
}
.table {
	display:table;
    width: 100%;
    height: auto;
    padding-bottom: 3%;
}
.tr {
	display:table-row;
}
.footer-left {
    display:table-cell;
    padding: 3.5% 0 0 5%;
    width:20%;
    font-size: 14px;
}
.footer-left b {
	font-size: 16px;
}

.footer-center {
    display:table-cell;
    text-align:center;
    padding: 0 6.5%;
    width:37%;
}
.footer-right {
    display:table-cell;
    padding: 3.5% 5% 0 0;
    text-align:right;
    width:20%;
}
.footer-right img {
	margin: 2%;
	width: 7%;
	height: auto;
	cursor: pointer;
}
.footer-right img:hover {
	opacity: 0.7;
}
.footer-bottom {
	text-align: center;
	margin: 0 auto 5% auto;
	width: 90%;
}
.footer-bottom hr {
	border: none;
	height: 1px;
	color: #D1D1D1;
	background-color: #D1D1D1;
}

/* ---- Popup ---- */
.popup {
    display: none; 
    position: fixed;
    z-index: 50; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 90%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    padding: 5% 0;
}
.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-y: scroll;
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.close {
    color: #aaa;
    margin: 1% 2% 0 0;
    float: right;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.sign-up {
	margin: 0 auto;
	width: 74%;
	height: 20%;
	padding: 0 13%;
	text-align: center;
}
.sign-up h2 {
	font-size: 40px;
	line-height: 56px;
	margin: 7% auto 2% auto;
}
.signup-btn-group {
	margin: 0 auto;
	width: 100%;
	float: none;
}
.signup-btn-group button {
	width: 33%;
	border-bottom: 7px solid #EFEFEF;
	color: #767777;
}
.signup-btn-group button:hover {
	background: linear-gradient(0deg,#F3F3F3, transparent);
}

.sign-up-form {
	display: none;
	margin: 5% auto;
	padding: 0 10%;
	width: 80%;
}
.sign-up-form ::placeholder {
	color: #D4D4D4;	
}
.sign-up-form input, .sign-up-form select {
	margin: 1%;
	font-family: "Roboto Condensed";	
	font-size: 20px;	
	padding: 15px 30px;
	border-radius: 5px;	
	background-color: rgba(239,239,239,0.3);
	border: 2px solid #D4D4D4;
	color: #D4D4D4;
}
.full-input {
	width: 85%;
}
.half-input {
	width: 35%;
}
.half-select {
	width: 47.2%;
}
#consumer-submit, #retail-submit, #wholesale-submit {
	margin: 3% 35%;
	height: 56px;	
	width: 150px;
	border-radius: 5px;
	border: none;
	color: white;
	background-color: #00E4AD;
	box-shadow: 0 2px 13px 1px rgba(0,0,0,0.12);
	cursor: pointer;

	-webkit-transition: all 0.15s; /* Safari */
	transition: all 0.15s;
}
#consumer-submit:hover, #retail-submit:hover, #wholesale-submit:hover {
	box-shadow: 0 5px 15px 3px rgba(0,0,0,0.12);
}

.signup-btn-group .active-btn {
	border-bottom: 7px solid #00E4AD;
	font-weight: bold;
}
.active-form {
	display: block;
}

/* ----------------- ABOUT --------------------- */
.about-body {
	height: 2299px;
}
.about-head-text {
	padding: 11% 30%;
	width: 40%;
	height: 5%;
	text-align: center;
	z-index: 5;
	position: relative;
}
.about-head-text h2 {
	margin-bottom: 0;
}
.about-full-gradient {
	top: 12%;
}
.about-gradient-green-box {
	position: absolute;
	float: left;
	top: 26%;
	left: 0;
	height: 120px;
	width: 60%;
	background: linear-gradient(to right, #00E4AD, #99E354);
}
.about-circles {
	position: absolute;
	float: left;
	top: 31.5%;
	left: 2%;
	height: 17%;
	width: 47%;
}
.team {
	position: absolute;
	float: left;
	top: 27.5%;
	left: 1%;
	width: 55%;
	height: 600px;
	overflow: hidden;	
	text-align: center;
}
.team div {
	display: block;
	float: left;

	margin: 1% 2%;
	padding-top: 3%;
	width: 28%;
	height: 42.66%;

	font-family: "Roboto Condensed";
	text-align: center;

	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.33);

	-webkit-transition: all 0.15s; /* Safari */
	transition: all 0.15s;

	cursor: pointer;
}
.team div:hover {
	margin-top: 0.5%;
	box-shadow: 0 2px 10px 1px rgba(0,0,0,0.33);
}
#top-right:hover {	
	margin-bottom: 1.5%;
}
.team div img {
	width: 65%;
	border-radius: 50%;
	height: auto;
}
.team div h3 {
	margin-bottom: 0; 
	color: #00E4AD;		
	font-size: 24px;	
	font-weight: bold;	
	line-height: 32px;
}
.team div p {
	margin: 2% auto;
	color: #4A4A4A;	
	font-size: 15px;	
	line-height: 21px;
	width: 90%;
}
.about-body-text {
	position: absolute;
	top: 26%;
	right: 5%;
	width: 30%;
	height: auto;	
}
.about-reverse-gradient {
	top: 54%;
	background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.02));
}
.contact-us {
	position: absolute;
	top: 51%;
	width: 74%;
	height: 30%;
	padding: 5% 13%;
	text-align: center;
}
.contact-us h2 {
	margin-bottom: 1.5%;
}
.small-green-rect {
	margin: 0 auto;
	height: 8px;
	width: 10%;
	background-color: #00E4AD;
}
.form {
	margin: 5% auto;
	width: 100%;
	height: 20%;
	text-align: center;
}

.form div {
	text-align: left;
}
.form ::placeholder {
	color: #D4D4D4;	
}
.form input, textarea {
	margin: 1%;
	font-family: "Roboto Condensed";	
	font-size: 20px;	
	padding: 20px 30px;
	border-radius: 5px;	
	background-color: #FFFFFF;
	border: 2px solid #D4D4D4;	
}
.contact-us #name, .contact-us #email {
	width: 25%;
}
.contact-us #subject {
	width: 100%;
}
.contact-us #message {
	width: 100%;
	height: 250px;
}
textarea {
  resize: none;
}
.contact-us #submit {
	margin: 3% auto;
	height: 66px;	
	width: 262px;
	border-radius: 5px;
	border: none;
	color: white;
	background-color: #00E4AD;
	box-shadow: 0 2px 13px 1px rgba(0,0,0,0.12);
	cursor: pointer;

	-webkit-transition: all 0.15s; /* Safari */
	transition: all 0.15s;
}
.contact-us #submit:hover {
	margin-top: 2.3%;
	box-shadow: 0 5px 15px 3px rgba(0,0,0,0.12);
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    outline: none;
    border: 2px solid #00E4AD;
}

/* ------------- SERVICES (Consumer, Retail, Wholesale) ------------------ */
/* Consumer */
.consumer-body {
	height: 3415px;
}
.services-head-text {
	margin: 0 auto;
	padding: 13% 25%;
	width: 50%;
	height: 7%;
	text-align: center;
	color: white;
	background: linear-gradient(to right, #00E4AD, #99E354);
}
.consumer-body h2 span {
	color: #636363;
}
.retail-body h2 span {
	color: #636363;
}
.services-btn-group {
	width: 60%;
	margin: -2% auto 0 auto;
	float: none;
}
.services-btn-group button {
	margin: 0 auto;
	padding: 17px 20px;
	width: 30%;
	border-radius: 5px;
	color: #636363;
	background-color: #EFEFEF;
	-webkit-transition: all 0.15s; /* Safari */
	transition: all 0.15s;
}
.services-btn-group button:hover {
	margin-top: -5px;
	box-shadow: 0 2px 10px 1px rgba(0,0,0,0.18);
}
#active {
	color: white;
	background-color: #636363;
}
.services-body-text {
	margin: 10% auto;
	width: 100%;
	height: 11%;
	display: block;
}
.horizontal-divs {
	position: relative;
	z-index: 5;
	margin: 0 auto;
	width: 90%;
	height: 10%;
	overflow: hidden;	
	text-align: center;
	display: flex;
	justify-content: center; /* align horizontal */
}
.horizontal-divs div {
	display: block;
	float: left;

	padding: 3% 2% 0 2%;
	width: 29.33%;
	height: 42.66%;

	font-family: "Roboto Condensed";
	text-align: center;
}
.horizontal-divs div img {
	width: 25%;
	height: auto;
}
.horizontal-divs div h3 {
	margin-bottom: 0; 
	color: #636363;		
	font-size: 40px;	
	font-weight: bold;	
	line-height: 53px;
}
.horizontal-divs div p {
	margin: 2%;
	color: #4A4A4A;	
	font-size: 18px;	
	line-height: 24px;
}
.consumer-full-gradient {
	top: 40%;
}
iframe {
	transform: scale(0.8);
}
.demo-container {
	display: none;
	position: absolute;
	top: 52%;
	width: 100%;
	height: 35%;
	text-align: center;
}
#consumer-demo {
	display: block;
}
.demo-container h2 {
	margin-bottom: 1.5%;
}
.demo {
	float: left;
	width: 50%;
}
.consumer-circles {
	position: absolute;
	float: left;
	top: 32%;
	left: 2%;
	height: 17%;
	width: 47%;
}
.consumer-body-text {
	text-align: left;
	position: absolute;
	top: 26%;
	right: 5%;
	width: 30%;
	height: auto;	
}
.consumer-body-text button {
	font-size: 20px;
	padding: 20px;
	width: 60%;
}
.consumer-reverse-gradient {
	height: 404px;
	top: 80%;
}
.consumer-bottom-text {
	top: 80%;
}
.consumer-bottom-text p {
	width: 60%;
}
.consumer-bottom-text button {
	width: 20%;
	padding: 2% 1%;
}
.hover-up {
	-webkit-transition: all 0.15s; /* Safari */
	transition: all 0.15s;
}
.hover-up:hover {
	margin-left: 0;
	margin-top: 1.5%;
	box-shadow: 0 5px 15px 3px rgba(0,0,0,0.12);
}
.consumer-bottom-text button:hover {
	margin-left: 0;
}

/* Retail */
.retail-body {
	height: 2615px;
}
.retail-head-text {
	height: 9.2%;
}
#illustration-2 {
	width: 85%;
}
.retail-horizontal-divs {
	height: 20%;
}
#horizontal-2 {
	margin-top: -10%;
}
.retail-full-gradient {
	top: 61%;
}
.retail-bottom-text {
	top: 74.5%;
}
.retail-body-text {
	height: 13%;
}


/* --- small Laptop screen sizes --- */
@media only screen and (max-width: 1150px) {
	/* Home */
	.home-body {
		height: 2912px;
	}
	.half-gradient {
		top: 30%;
	}
	.nav-btn-group {
		margin: 1.75% 2%;
	}
	.device-icons {
		margin: 15% 1.4% 0 44%;
	}
	.home-circles {
		top: 50%;
	}
	.body-text h2 {
		font-size: 35px;
		line-height: 49px;
	}
	.body-text p {
		font-size: 13px;
		line-height: 19px;
	}
	.body-text button {
		font-size: 15px;
		line-height: 21px;
		width: 50%;
	}
	.home-full-gradient {
		top: 39%;
	}
	/* About */
	.team div {
		margin-top: 1.5%;
		padding: 3% 1% 0 1%; 
		width: 26%;
		height: 35%;
	}
	.team div:hover {
		margin-top: 1%;
	}
	.team div h3 {
		font-size: 20px;
		line-height: 28px;
	}
	.team div p {
		font-size: 13px;
		line-height: 18px;
	}
	/* Services */
	.consumer-body {
		height: 3015px;
	}
	.retail-body {
		height: 2645px;
	}
	.services-head-text {
	    padding: 13% 15%;
    	width: 70%;
    }
	.horizontal-divs {
		margin-top: -5%;
    	height: 15%;
    }
    .retail-horizontal-divs {
		margin-top: -5%;
    	height: 20%;
    }
    .horizontal-divs div img {
    	width: 50%;
    	height: auto;
	}
	.consumer-full-gradient {
    	top: 37%;
	}
	.demo-container {
		height: 30%;
	}
	.demo {
		margin-top: -15%;
	}
	iframe {
		transform: scale(0.6);
	}
	.horizontal-divs div h3 {
    	font-size: 35px;
    	line-height: 48px;
	}
	.horizontal-divs div p {
    	font-size: 15px;
    	line-height: 23px;
	}
	/* sign up */
	.sign-up {
		height: 25%;
	}
	.sign-up-form input, .sign-up-form select {
		font-size: 15px;
		padding: 15px 15px;
	}
	#consumer-submit, #retail-submit, #wholesale-submit {
    	margin: 3% 30%;
    }
    .sign-up-form input, select {
    	margin: 1.5% 1%;
    }
    .full-input {
    	width: 87%;
    }
    .half-input {
    	width: 37.8%;
	}
	.half-select {
		width: 46%;
	}
	
}

/* --- Tablet screen sizes --- */
@media only screen and (max-width: 960px) {
	/* Home */
	.logo {
		margin-top: -23%;
	}
	.nav-btn-group {
		margin: 3% 0.3%;
	}
	.nav-btn-group {
		width: 40%;
	}
	#partner-btn {
		margin: 0 1px 0 10px;
	}
	.nav-btn-group button {
		font-size: 15px;	
		line-height: 20px;
		padding: 10px 15px;
	}
	.device-icons {
		margin: 20% 1.4% 0 44%;
	}
	.home-circles {
		top: 42%;
	}
	.gradient-green-box {
		height: 328px;
	}
	.home-body-text {
		margin-bottom: 20%;
	}
	.home-full-gradient {
		top: 41%;
	}
	.form input, textarea {
		padding: 10px 20px;
	}
	.map-text p {
    	width: 60%;
	}
	.map-text #submit {
		font-size: 15px;
		height: 46px;	
		width: 92px;
	}
	/* About */
	.about-body {
		height: 2000px;
	}
	.about-full-gradient {
    	top: 10%;
	}
	.team {
		width: 60%;
	}
	.team div {
		margin-top: 1.5%;
		padding: 3% 1% 0 1%; 
		width: 26%;
		height: 35%;
	}
	.team div:hover {
		margin-top: 1.1%;
	}
	.team div h3 {
	    font-size: 18px;
    	line-height: 26px;
	}
	.team div p {
		font-size: 13px;
    	line-height: 19px;
	}
	.about-body-text {
    	top: 28%;
    }
    .about-reverse-gradient {
    	top: 50%;
    }
	.contact-us {
    	top: 50%;
    	width: 90%;
    	padding: 5% 5%;
	}
	.contact-us #subject, .contact-us #message {
    	width: 90%;
	}
	/* Services */
	.services-head-text h2 {
		margin-top: 13%;
    	font-size: 43px;
    	line-height: 55px;
	}
	.services-head-text p {
    	font-size: 20px;
    	line-height: 26px;
	}
	.services-btn-group {
    	margin: -4% auto 0 auto;
	}
	.services-body-text {
    	margin: 15% auto 5% auto;
	}

	.footer-right img {
		width: 15%;
	}
	/*sign up*/
	.popup {
		padding: 10% 0;
		height: 90%;
	}
	.popup-content {
		height: auto;
	}
	.sign-up {
		height: 20%;
	}
	.half-input {
    	width: 36.5%;
	}
}

/* --- Tablet - Mobile screen sizes --- */
@media only screen and (max-width: 770px) {
	/* Home */
	.logo {
		margin-top: -15%;
	}
	.nav-btn-group {
		margin: 8% 0.05%;
	}
	#partner-btn {
		margin: 0 15px;
	}
	.nav-btn-group button {
		font-size: 10px;	
		line-height: 12px;
		padding: 3px 7px;
	}
	.device-icons {
		margin: 20% 1.4% 0 44%;
	}
	.gradient-green-box {
		height: 280px;
	}
	.home-circles {
		top: 35%;
	}
	.head-text {
		margin-top: 25%;
	}
	.head-text h2 {
		font-size: 40px;		
		line-height: 46px;
	}
	.head-text p {
		font-size: 18px;
		line-height: 26px;
	}
	.home-head-text {
		margin-top: 20%;
	}
	/* About */
	.about-head-text {
		margin-top: 10%;
	}
	.contact-us {
		margin-top: 0%;
	}
	/* Services */
	.services-body-text {
    	margin: 20% auto 10% auto;
	}
	.services-head-text {
		margin-top: 10%;
	}
	.services-head-text h2 {
		margin-top: 5%;
	}
	.retail-head-text {
    	height: 8%;
	}
	.services-btn-group button {
    	font-size: 15px;
    	line-height: 20px;
    }
    .horizontal-divs div h3 {
    	font-size: 30px;
    	line-height: 43px;
	}
	.horizontal-divs div p {
    	font-size: 13px;
    	line-height: 20px;
	}
	.consumer-full-gradient {
    	top: 35%;
	}
	.demo-container {
		margin-top: -5%;
	}
	.demo {
		margin-top: -20%;
		margin-left: -10%;
	}
	iframe {
		transform: scale(0.6);
	}
	.consumer-body-text button {
		padding: 10px;
    	font-size: 12px;
    	line-height: 16px;
    	width: 70%;
	}
	/* sign up */
	.sign-up {
		margin-top: 8%;
	}
	.small-green-rect {
		margin-top: 5%;
		width: 15%;
	}
	.signup-btn-group {
		margin-top: 2%;
	}
	.signup-btn-group button {
		font-size: 15px;
    	line-height: 21px;
	}
	#consumer-submit, #retail-submit, #wholesale-submit {
    	margin: 3% 30%;
	}
	.popup {
		padding-top: 20%;
	}
	.popup-content {
		width: 70%;
	}
	.sign-up-form {
		margin-top: 7%;
	}
}

/* --- Mobile screen sizes --- */
@media only screen and (max-width: 425px) {
	/* Home */
	.logo {
		margin-top: -10%;
	}
	.half-gradient {
		top: 20%;
	}
	.nav-btn-group {
		margin: 12% 2%;
	}
	.nav-btn-group button {
		font-size: 8px;	
		line-height: 12px;
		padding: 3px 7px;
	}
	.head-text h2 {
		font-size: 35px;		
		line-height: 46px;
	}
	#partner-btn {
		margin: 0 8px;
	}
	.device-icons {
		margin: 45% 1.4% 0 44%;
	}
	.home-body-text {
		margin-top: -10%;
		margin-bottom: 50%;
	}
	.home-body-text h2 {
		font-size: 30px;
		line-height: 38px;
		margin-top: -30%;
	}
	.home-body-text p, .home-body-text button {
		font-size: 10px;
		line-height: 20px;
	}
	.home-full-gradient {
		top: 38%;
	}
	.table {
		padding-bottom: 2%;
	}
	.footer-left, .footer-center, .footer-right {
		display: block;
		width: 90%;
		text-align: center;
		padding: 0 5%;
		font-size: 12px;
		line-height: 15px;
		margin-top: 15px;
	}
	.footer-right img {
		width: 5%;
		margin: 1%;
	}
	.map-text {
		left: 10%;
		width: 80%;
		text-align: center;
	}
	.map-text #email {
		width: 45%;
	}
	.map-text #city {
		width: 25%;
	}
	.map-text #submit {
		font-size: 10px;
		height: 36px;	
		width: 72px;
	}
	/* About */
	.team {
		width: 60%;
	}
	.team div {
		margin-top: 4%;
		padding: 3% 1% 0 1%; 
		width: 26%;
		height: 30%;
	}
	.team div:hover {
		margin-top: 3.7%;
	}
	.team div h3 {
	    font-size: 15px;
    	line-height: 23px;
	}
	.team div p {
		font-size: 11px;
    	line-height: 15px;
	}
	.about-body-text h2 {
    	font-size: 30px;
    	line-height: 44px;
	}
	.contact-us {
		top: 52%;
	}
	.contact-us #subject, .contact-us #message {
    	width: 85%;
	}
	/* Services */
	.services-btn-group button {
    	font-size: 12px;
    	line-height: 18px;
    	padding: 13px 10px;
    }
    .services-head-text h2 {
		margin-top: 10%;
    	font-size: 40px;
    	line-height: 52px;
	}
	.services-head-text p {
    	font-size: 15px;
    	line-height: 20px;
	}
	.services-body-text h2 {
		margin-top: -10%;
	}
	.horizontal-divs {
		margin-top: -5%;
		width: 100%;
		height: 25%;
		display: inline-block;
	}
	.horizontal-divs div img {
		width: 20%;
	}
	.horizontal-divs div {
		margin: 0 auto -25% auto;
		padding: 3% 9% 0 9%;
		width: 82%;
	}
	.horizontal-divs div h3 {
		margin: 5% auto;
	}
	#horizontal-1 {
		margin-top: -20%;
		height: 30%;
	}
	#horizontal-2 {
		margin-top: -8%;
		height: 30%;
	}
	.retail-horizontal-divs {
		width: 100%;
		display: inline-block;
	}
	.retail-horizontal-divs div {
		margin: 0 auto -25% auto;
		padding: 3% 9% 0 9%;
		width: 82%;
	}
	.horizontal-divs div h3 {
		margin: 5% auto;
	}
	.horizontal-divs div p {
		margin: 5% auto;
		width: 70%;
	}
	.consumer-full-gradient {
    	top: 40%;
	}
	.demo-container {
    	margin-top: 10%;
	}
	.consumer-body-text {
		display: none;
	}
	.demo {
		margin-top: -25%;
		margin-left: -5%;
	}
	iframe {
		transform: scale(0.65);
	}
	.consumer-circles {
		width: 80%;
	}
	.retail-full-gradient {
    	top: 64%;
	}
	.retail-bottom-text {
    	top: 78%;
	}
	/*sign up*/
	.popup {
		padding: 0;
		margin: 0;
		height: 100%;
	}
	.popup-content {
		margin: 0;
		width: 100%;
		height: 100%;
		box-shadow: none;
		border: none;
	}
	.large-input {
		width: 80%;
	}
	.medium-input {
		width: 70%;
	}
	.small-input {
		width: 30%;
	}
	#consumer-submit, #retail-submit, #wholesale-submit {
    	margin: 4% 30%;
	}
	.sign-up-form {
		padding: 0 5%;
    	width: 90%;
	}
}


/* --- Larger Laptop screen sizes --- */
@media only screen and (min-width: 1366px) {
	.home-body {
		height: 3618px;
	}
	.about-body {
		height: 2299px;
	}
	.consumer-body {
		height: 3415px;
	}
	.retail-body {
		height: 2615px;
	}
}
@media only screen and (min-width: 1440px) {
	.home-body {
		height: 3815px;
	}
	.half-gradient {
		top: 40%;
	}
	.device-icons {
		margin: 9% 1.4% 0 44%;
	}
	.home-circles {
		top: 40%;
	}
	.home-full-gradient {
		top: 42%;
	}
	.body-text h2 {
		font-size: 43px;
		line-height: 58px;
	}
	.body-text p {
		font-size: 20px;
		line-height: 29px;
	}
	.body-text button {
		font-size: 23px;
		line-height: 30px;
	}
	.about-body {
		height: 2323px;
	}
	.consumer-body {
		height: 3602px;
	}
	.retail-body {
		height: 2736px;
	}
	.popup-content {
		width: 45%;
	}

}
@media only screen and (min-width: 1600px) {
	.home-body {
		height: 4238px;
	}
	.home-full-gradient {
		top: 43%;
	}
	.about-body {
		height: 2576px;
	}
	.team {
		height: 700px;
	}
	.team div {
		margin-top: 2%;
	}
	.team div:hover {
		margin-top: 1.5%;
	}
	.consumer-body {
		height: 4000px;
	}
	.retail-body {
		height: 3040px;
	}
	.services-head-text {
    	height: 4.8%;
	}
	.retail-head-text {
    	height: 6%;
	}
	.retail-full-gradient {
		top: 63%;
	}
	.consumer-circles {
    	top: 25%;
    	width: 40%
    }
	iframe {
		transform: scale(0.9);
		width: 738;
		height: 1000;
	}
	.popup-content {
		width: 40%;
	}
	.sign-up {
		margin-top: 5%;
		height: 15%;
	}
	.sign-up-form {
		margin-top: 10%;
	}
	#consumer-submit, #retail-submit, #wholesale-submit {
    	margin-top: 6%;
    }
}
@media only screen and (min-width: 1920px) {
	.home-body {
		height: 5000px;
	}
	.body-text h2 {
		font-size: 48px;
		line-height: 63px;
	}
	.body-text p {
		font-size: 25px;
		line-height: 34px;
	}
	.body-text button {
		font-size: 28px;
		line-height: 35px;
	}
	.team {
		height: 740px;
	}
	.team div {
		margin-top: 1%;
	}
	.team div:hover {
		margin-top: 0.5%;
	}
	.map {
		margin-top: 20%;
	}
	.home-full-gradient {
		top: 44%;
	}
	.about-body {
		height: 2600px;
	}
	.consumer-body {
		height: 4800px;
	}
	.retail-body {
		height: 3648px;
	}
	.services-head-text h2 {
    	font-size: 58px;
    	line-height: 73px;
	}
	.services-head-text p {
    	font-size: 29px;
    	line-height: 37px;
	}
	.services-btn-group {
		margin-top: -2%;
	}
	.services-btn-group button {
		width: 25%;
		padding: 20px 20px;
		font-size: 27px;
    	line-height: 33px;
	}
	.services-btn-group button:hover {
    	margin-top: -9px;
    	box-shadow: 0 2px 16px 1px rgba(0,0,0,0.18);
	}
	.popup-content {
    	width: 37%;
	}
}
@media only screen and (min-width: 2560px) {
	.home-body {
		height: 5900px;
	}
	.logo {
    	margin-top: -20%;
    }
	.map {
		margin-top: 0%;
	}
	.home-circles {
		top: 32%;
	}
	.home-full-gradient {
		top: 48%;
	}
	.gradient-green-box {
		height: 628px;
	}
	.about-body {
		height: 3321px;
	}
	.about-full-gradient {
    	top: 17%;
	}
	.team {
    	height: 1000px;
	}
	.team div {
		margin: 1% 2%;
    	height: 40%;
	}
	.team div:hover {
		margin-top: 0.7%;
	}
	.about-reverse-gradient {
    	top: 56%;
    }
	.contact-us {
    	top: 56%;
    }
	.consumer-body {
		height: 6400px;
	}
	.retail-body {
		height: 4864px;
	}
	.services-head-text {
    	height: 4%;
	}
	.retail-head-text {
    	height: 5.3%;
	}
	.services-head-text h2 {
    	font-size: 65px;
    	line-height: 80px;
	}
	.services-head-text p {
    	font-size: 35px;
    	line-height: 43px;
	}
	.demo {
		margin-top: 15%;
	}
	iframe {
		transform: scale(1.6);
	}
	.popup-content {
    	width: 35%;
    	height: 70%;
	}
	.half-input {
    	width: 37%;
	}
	.half-select {
    	width: 46%;
	}
	#consumer-submit, #retail-submit, #wholesale-submit {
    	margin: 6% 40% 3% 40%;
    }
}
